<aside class="sidebar nav d-flex flex-column align-items-center text" data-sidebar>
    <div class="sidebar-head d-flex flex-column align-items-center my-3">
        <a href="#" class="profile-pic"><img src="/img/user.svg" alt="logo"></a>
        <div class="sidebar-text fullname">John Smith</div>
        <div class="sidebar-text username">@johnsmith12</div>
    </div>
    <div class="sidebar-main">
        <ul class="navbar-nav d-flex flex-column align-items-center">
            {{!-- General Page --}}
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span class="nav-icon material-symbols-rounded">home</span>
                    <div class="sidebar-text">Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mycourse">
                    <span class="nav-icon material-symbols-rounded">library_books</span>
                    <div class="sidebar-text">My Courses</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/forum/">
                    <span class="nav-icon material-symbols-rounded">forum</span>
                    <div class="sidebar-text">Forum</div>
                </a>
            </li>
            {{!-- Instructor Page --}}
            <div class="sidebar-text sidebar-subtext">Instructor</div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">note_alt</span>
                    <div class="sidebar-text">Course Manager</div>
                </a>
            </li>
            {{!-- Admin Page --}}
            <div class="sidebar-text sidebar-subtext">Admin</div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">grid_view</span>
                    <div class="sidebar-text">Dashboard</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">manage_accounts</span>
                    <div class="sidebar-text">User Manager</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">category</span>
                    <div class="sidebar-text">Site Manager</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-foot">
        <ul class="navbar-nav d-flex flex-column align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">info</span>
                    <div class="sidebar-text">FAQ</div>
                </a>
            </li>
        </ul>
    </div>
</aside>