<aside class="sidebar d-flex flex-column align-items-center" data-sidebar>
    <div class="sidebar-head d-flex flex-column align-items-center my-3">
        <a href="#" class="profile-pic"><img src="/img/logo.png" alt="logo"></a>
        <div class="sidebar-text fullname">John Smith</div>
        <div class="sidebar-text username">@johnsmith12</div>
    </div>
    <div class="sidebar-main">
        <ul class="navbar-nav d-flex flex-column align-items-center">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">home</span>
                    <div class="sidebar-text">Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">dashboard</span>
                    <div class="sidebar-text">Dashboard</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">web</span>
                    <div class="sidebar-text">Site Manager</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">manage_accounts</span>
                    <div class="sidebar-text">User Manager</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">inventory_2</span>
                    <div class="sidebar-text">My Courses</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">assignment</span>
                    <div class="sidebar-text">Course Manager</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">forum</span>
                    <div class="sidebar-text">Forum</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-foot">
        <ul class="navbar-nav d-flex flex-column align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">info</span>
                    <div class="sidebar-text">Help</div>
                </a>
            </li>
        </ul>
    </div>
</aside>