<aside class="sidebar poppins open" data-sidebar>
    <div class="sidebar-head">
        <a href="#" class="profile-pic">
            <img src="/img/user.svg" alt="logo">
        </a>
        <div class=" sidebar-hidden fullname">John Smith</div>
        <div class=" sidebar-hidden username">@johnsmith12</div>
    </div>
    <div class="sidebar-main">
        <ul class="nav-list">
            {{!-- General Page --}}
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <span class="nav-icon material-symbols-rounded">home</span>
                    <div class="sidebar-hidden">Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mycourse">
                    <span class="nav-icon material-symbols-rounded">library_books</span>
                    <div class="sidebar-hidden">My Courses</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">forum</span>
                    <div class="sidebar-hidden">Forum</div>
                </a>
            </li>
            {{!-- Instructor Page --}}
            <div class="sidebar-hidden sidebar-subtext">Instructor</div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">note_alt</span>
                    <div class="sidebar-hidden">Course Manager</div>
                </a>
            </li>
            {{!-- Admin Page --}}
            <div class="sidebar-hidden sidebar-subtext">Admin</div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">grid_view</span>
                    <div class="sidebar-hidden">Dashboard</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">manage_accounts</span>
                    <div class="sidebar-hidden">User Manager</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">category</span>
                    <div class="sidebar-hidden">Site Manager</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">category</span>
                    <div class="sidebar-hidden">Site Manager</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">category</span>
                    <div class="sidebar-hidden">Site Manager</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">category</span>
                    <div class="sidebar-hidden">Site Manager</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">category</span>
                    <div class="sidebar-hidden">Site Manager</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-foot">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">info</span>
                    <div class="sidebar-hidden">FAQ</div>
                </a>
            </li>
        </ul>
    </div>
</aside>