<aside class="sidebar" data-sidebar>
    <div class="top-sidebar">
        {{!-- <a href="#" class="profile-pic"><img src="/img/user.svg" alt="logo"></a> --}}
        <div class="sidebar-text fullname">John Smith</div>
        <div class="sidebar-text username">@johnsmith12</div>
    </div>
    <div class="middle-sidebar">
        <ul class="sidebar-list">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span class="nav-icon material-symbols-rounded">home</span>
                    <div class="sidebar-text">Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mycourse">
                    <span class="nav-icon material-symbols-rounded">library_books</span>
                    <div class="sidebar-text">My Courses</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">forum</span>
                    <div class="sidebar-text">Forum</div>
                </a>
            </li>
            {{!-- Instructor Page --}}
            <div class="sidebar-text sidebar-subtext">Instructor</div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">note_alt</span>
                    <div class="sidebar-text">Course Manager</div>
                </a>
            </li>
            {{!-- Admin Page --}}
            <div class="sidebar-text sidebar-subtext">Admin</div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">grid_view</span>
                    <div class="sidebar-text">Dashboard</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">manage_accounts</span>
                    <div class="sidebar-text">User Manager</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">category</span>
                    <div class="sidebar-text">Site Manager</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="bottom-sidebar">
        <ul class="sidebar-list">
            <li class="sidebar-list-item">
                <a href="#" class="sidebar-link">
                    <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon">
                        <g>
                            <path
                                d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z">
                            </path>
                        </g>
                    </svg>
                    <div class="hidden-sidebar">Settings</div>
                </a>
            </li>
            <li class="sidebar-list-item">
                <a href="#" class="sidebar-link">
                    <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon">
                        <g>
                            <path
                                d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z">
                            </path>
                        </g>
                    </svg>
                    <div class="hidden-sidebar">Send Feedback</div>
                </a>
            </li>
        </ul>
    </div>
</aside>