<script src="./js/payment/retriveCoupon.js"></script>

<div class="container">
  <h1 class="display-4">Create Courses</h1>


  <form method="POST" action="">
    <div class="form-group">
      <label for="name">Course Name</label>
        <input type="text" name="Coursename" id="Coursename" class="form-control" required>
    </div>
      <div class="form-group">
          <label for="desc">Description</label>
          <input type="text" name="desc" id="desc" class="form-control">
      </div>
      <div class="form-group">
          <label for="expiryDate">content</label>
          <input type="text" name="content" id="content" class="form-control" required>
      </div>
      <input name="uid" type="hidden" value="{{user.id}}">
      <label for="Subjects">Subjects</label>
					<select id="Subjects" name="Subjects" class="form-select" required>
						<option value=""></option>
						{{#each subjects}}
						<option value="{{id}}">{{title}}</option>
						{{/each}}
					</select>
      <input type="submit" value="Submit" class="btn btn-primary mt-3"/>

  </form>
</div>



