<div class="container">
    <form method="post">
    <input name="videoUpload{{id}}" type="file" class="custom-file-input" id="videoUpload"
								accept="video/mp4,video/x-m4v,video/*">
    <button class="btn btn-warning" type="submit">submit
    <br>
    <input type="hidden" name="videoURL" id="videoURL">
    </form>
</div>