<div class="entry-card row" data-step="1">
			<div class="img-box col">
				<img src="/img/administration/learning_rafiki.svg" alt="">
			</div>
			<div class="entry-box col">
				<h1>Plan your content</h1>
			</div>
		</div>