<link rel="stylesheet" type="text/css" href="./css/payment/payment.css">
<div class="container mx-auto">
{{!--    <h1 class="legend text mt-5">Credit Card Details</h1>

    <form class="" method="post">
        <label for="Name">Name on card</label> <br>
        <input name="name" id="name" type="text" class="form-control">

        <br><br>
        <label for="card1">Card Details</label><br>

        <!--<input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" minlength="4" maxlength="4" name="card1" value="" class="form-control cardNo" required>-->
        <!--<input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" minlength="4" maxlength="4" name="card2" value="" class="form-control cardNo" required>-->
        <!--<input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" minlength="4" maxlength="4" name="card3" value="" class="form-control cardNo" required>-->
        <!--<input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" minlength="4" maxlength="4" name="card4" value="" class="form-control cardNo" required>-->

        <input name="cardDetails1" id="cardDetails1" type="text" class="form-control cardNo"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            minlength="4" maxlength="4">
        <input name="cardDetails2" id="cardDetails2" type="text" class="form-control cardNo"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            minlength="4" maxlength="4">
        <input name="cardDetails3" id="cardDetails3" type="text" class="form-control cardNo"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            minlength="4" maxlength="4">
        <input name="cardDetails4" id="cardDetails4" type="text" class="form-control cardNo"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            minlength="4" maxlength="4">
        <br>
        <br><br>
        <label for="cardExpiry">Card Expiry Date</label> <br>
        <input name="cardExp" id="cardExp" type="date" class="form-control">

        <br><br>
        <label for="CVC">CVC</label><br>
        <input name="CVC" id="CVC" type="number" class="form-control"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            minlength="3" maxlength="3">

        <br><br>
        <input type="checkbox" name="TermsandCondtion" value="" required>
        <label for="TermsandCondtion">By checking this box, you agree to our Terms and that you have read our Data Use
            Policy</label>

        <br><br>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <button type="submit" class="btn paymeant search-btn text mx-auto" name="button">Confirm</button>
        </div>
    </form>
    <div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div> --}}
<div style=""id="paypal-button-container-P-36M250812D994073KML23RMI"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AYGQTNRc8K5MiEyX-maSalrLmIISBzWAn1V7zN9SFOm84edhi_1LJHETARvwp4WG4vM0cU5vbB0Djpd0&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          /* Creates the subscription */
          plan_id: 'P-36M250812D994073KML23RMI'
        });
      },
      onApprove: function(data, actions) {
        alert(data.subscriptionID); // You can add optional success message for the subscriber here
      }
  }).render('#paypal-button-container-P-36M250812D994073KML23RMI'); // Renders the PayPal button
</script>
</div>