<div class="container error">
    <div class="entry-card row">
        <div class="img-box col">
            <img src="/img/error/401_amico.svg" alt="">
        </div>
        <div class="entry-box col ms-5">
            <h1 class="card-title">Oops!</h1>
            <h5 class="card-subtitle">You are not authorized. Please login to get authenticated.</h5>
            <a href="/user/login" role="button" class="btn btn-main mt-4">Log in<i class="fa-solid fa-arrow-right-to-bracket ms-2"></i></a>
        </div>
    </div>
</div>