<div class="container error">
    <div class="entry-card row">
        <div class="img-box col">
            <img src="/img/error/404_amico.svg" alt="">
        </div>
        <div class="entry-box col ms-5">
            <h1 class="card-title">ERROR 404!</h1>
            <h4 class="card-subtitle">The page you are trying to find cannot be found or is not longer available.</h4>
            <a href="/" role="button" class="btn btn-main mt-4">Return to home</a>
        </div>
    </div>
</div>