<div class="course">
    <div class="banner text d-flex align-items-center mt-3">
        <div class="container d-flex justify-content-between">
            <div class="course-info">
                <h1>Python 101</h1>
                <a href="#">
                    <p>@Username</p>
                </a>
                <p class="ratings">
                    5.0
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="user-count">
                        (100)
                    </span>
                </p>
                <a href="#" class="btn flex-grow-0" role="button">Enroll Now</a>
            </div>
            <div class="course-thumbnail">
                <img src="/img/carousel/grassland.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column align-items-center">
        <div class="card course-content">
            <b class="ps-3 pt-1">Course Content</b>
        </div>
        <div class="card course-description">
            <b class="ps-3 pt-1">Description</b>
        </div>
        <div class="card course-review">
            <b class="ps-3 pt-1">Review</b>
        </div>
    </div>
</div>