<div class="container course">
    <h1 class="header">My Courses</h1>
    <div class="d-flex flex-row">
        <div class="card me-4" style="width: 18rem;">
			<img src="/img/carousel/grassland.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title m-0">Python 101</h5>
				<p class="username">@Username</p>
				<p class="ratings">
					5.0
					<span class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</span>
					<span class="user-count">
						(100)
					</span>
				</p>
				{{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
			</div>
		</div>
        <div class="card me-4" style="width: 18rem;">
			<img src="/img/carousel/grassland.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title m-0">Python 101</h5>
				<p class="username">@Username</p>
				<p class="ratings">
					5.0
					<span class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</span>
					<span class="user-count">
						(100)
					</span>
				</p>
				{{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
			</div>
		</div>
        <div class="card me-4" style="width: 18rem;">
			<img src="/img/carousel/grassland.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title m-0">Python 101</h5>
				<p class="username">@Username</p>
				<p class="ratings">
					5.0
					<span class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
					</span>
					<span class="user-count">
						(100)
					</span>
				</p>
				{{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
			</div>
		</div>
    </div>
</div>