<div class="container card-box">
    <div class="entry-card row">
        <div class="img-box col">
            <img src="/img/error/timeout_pana.svg" alt="">
        </div>
        <div class="entry-box col ms-5">
            <h1 class="card-title">Token Expired!</h1>
            <h5 class="card-subtitle">Please request a new token.</h5>
            <a href="/" role="button" class="btn btn-main mt-4"><i class="fa-solid fa-caret-left pe-2"></i>Return to home</a>
        </div>
    </div>
</div>