:root {
    --ultramarine: #4A00E0;
    --blueviolet: #8E2DE2;
    --granitegray: #5D5F5D;
    --cobaltblue: #0645AD;
    --header-height: 64px;
    --icon-size: 25px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
}