@import './constants.css';

.admin {
    /* display: flex; */
}

.admin .entry-card,
.forum .entry-card {
    /* height: calc(100vh - var(--header-height) - 2rem); */
    /*outline: 1px solid black;*/
    height: calc(100% - 1rem);

    margin: 0 1rem;

    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    border-radius: 20px;
    padding: 3rem 4rem;
    flex-grow: 1;
    align-items: center;
}

.admin .entry-card-body {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    border-radius: 20px;
    padding: 1.5rem 3rem;
    flex-grow: 1;
    align-items: center;
}

.admin .entry-card .form-group {
    margin-bottom: 1rem;
}

.login .entry-card .row,
.signup .entry-card .row {
    align-items: center;
}

.entry-form textarea {
    /* outline: 1px solid black; */
}

.entry-form input:focus,
.entry-form select:focus,
.entry-form textarea:focus {
    border: 0.1px solid #101010;
    box-shadow: none;
    border-color: unset;
}

.entry-form #input-row-1 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1.1rem;
}

.entry-form #input-row-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1.1rem;
}
.entry-form.interest {
    align-items: center;
}

.entry-form.interest .checkbox-items {
    cursor: pointer;
    margin: .1rem 0;
}

.entry-form .checkbox-items input[type="checkbox"] {
    display: none;
}

.entry-form .checkbox-items input[type="checkbox"]:checked+.checkbox-label {
    background: linear-gradient(-45deg, #614385 0%, #516395 100%);
    border: 1px solid var(--ultramarine);
    color: white;
}

.checkbox-label {
    border: 1px solid #516395;
    border-radius: 10px;
    color: #516395;
    display: block;
    padding: 7px 28px;
}


.signup .entry-card {
    display: none;
}

.signup .entry-card.active {
    display: flex;
}