@import './constants.css';

.sidebar.open {
    width: 215px;
}

.sidebar {
    overflow: hidden;
    width: 75px;
    background: white;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: sticky;
    left: 0;
    top: var(--header-height);
    font-weight: 500;
    font-size: .9rem;
}

.sidebar .sidebar-hidden {
    opacity: 0;
    width: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .sidebar-hidden {
    opacity: 1;
    /* height: auto; */
    width: 100%;
}

.sidebar .sidebar-subtext {
    margin-top: .5rem;
    padding-left: 1rem;
    font-size: .8rem;
    color: #808080;
    width: 100%;
}


.sidebar .sidebar-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    height: 30px;
    transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .sidebar-head {
    height: 125px;
}

.sidebar .profile-pic {
    display: block;
    width: 30px;
    height: 30px;
    /* TODO: Remove blue border */
    border: 1px solid; 
    border-radius: 50%;
    transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .profile-pic {
    width: 90px;
    height: 90px;
}

.sidebar .profile-pic>img {
    width: 100%;
    height: 100%;
}

.sidebar .sidebar-head .sidebar-hidden {
    text-align: center;
    width: 100%;
}


.sidebar .fullname {
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: .15rem;
    margin-top: .5rem;
}

.sidebar .username {
    font-size: 0.75rem;
}

.sidebar-main {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    margin: 1rem 0;
}

.sidebar-main::-webkit-scrollbar {
    width: 5px;
}

.sidebar-main::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: #d6dee1;
}

.sidebar-main::-webkit-scrollbar-thumb {
    background-color: #B2BBBD;
    border-radius: 100px;
    border: 6px solid transparent;
    /* background-clip: content-box; */
}

.sidebar-main::-webkit-scrollbar-thumb:hover {
    background-color: #869598;
}

.sidebar-main,
.sidebar-foot {
    width: 100%;
}

.sidebar .nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.sidebar.open .nav-link {
    justify-content: flex-start;
}

.sidebar .nav-icon {
    flex-shrink: 0;
    font-size: var(--icon-size);
}

.nav-list .sidebar-hidden {
    margin-left: 1rem;
    white-space: nowrap;
    /*1.5rem*/
}

.sidebar .nav-link {
    display: flex;
    width: 100%;
    padding: .75rem 0;
    align-items: center;
    padding-left: calc((75px - var(--icon-size))/2);
}

.sidebar .nav-item {
    position: relative;
    width: 100%;
}

.sidebar .nav-item:hover {
    background-color: #E8E8E8;
}

.sidebar .nav-item.active>.nav-link {
    color: #4A00E0;
}

.sidebar .nav-item.active::before {
    content: "";
    background-color: #4A00E0;
    border-radius: 0 5px 5px 0;
    height: var(--icon-size);
    top: 12px;
    left: 0;
    width: 5px;
    position: absolute;
}