@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  margin: 0;
  background-color: #F0F0F0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 1rem;
  background: #8E2DE2;
  background: linear-gradient(-45deg, #8E2DE2 0%, #4A00E0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  flex-grow: 1;
}

.carousel-indicators button {
  border-radius: 100%;
  width: 5px !important;
  height: 5px !important;
}

.header {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.home {
  font-family: 'Poppins', sans-serif;
}

