<div class="container login admin">
	<div class="entry-card">
		<div class="entry-card-body row">
			<div class="img-box col">
				<img src="/img/administration/studying_rafiki.svg" alt="">
			</div>
			<div class="entry-box col">
				<h2 class="mb-5">Welcome to <span class="logo">Curodemy</span></h2>
				{{> _flashmsg }}
				<form method="post" action="">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" name="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" class="form-control" required>
					</div>
					<button type="submit" class="btn btn-main mt-2">Log in</button>
				</form>
			</div>
		</div>
	</div>
</div>