<div class="container password">
    <form method="post" action="" class="entry-form">
        <div class="entry-card row">
            <div class="entry-box col">
                <h2 class="card-title">Update Password</h2>
                <h3 class="card-subtitle mb-5">Never give your password to anyone!</h3>
                {{> _flashmsg }}

                <div class="form-group">
                    <label for="currentPassword">Current Password<span class="text-danger">*</span></label>
                    <input type="password" name="currentPassword" id="currentPassword" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">Password<span class="text-danger">*</span></label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newPassword2">Confirm Password<span class="text-danger">*</span></label>
                    <input type="password" name="newPassword2" id="newPassword2" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-main mt-2">Update Password</button>
                {{!-- <p class="subtext mt-3">Already have an account? <a href="/user/login">Log in</a></p> --}}
            </div>
            <div class="img-box col">
                <img src="/img/administration/secure_data_pana.svg" alt="">
            </div>
        </div>
    </form>
</div>