<div class="container password">
    <form action="" action="" class="entry-form">
        <div class="entry-card row">
            <div class="entry-box col">
                <h2 class="card-title">Forgot Password</h2>
                <h3 class="card-subtitle mb-5">It's okay we got your back!</h3>
                {{> _flashmsg }}

                <div class="form-group">
                    <label for="email">Email<span class="text-danger">*</span></label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-main mt-2">Reset Password</button>
                    <div id="spinner" class="spinner-border spinner-border-sm"></div>
                    <script>$('#spinner').hide();</script>
                    <p class="subtext mt-3">
                        Click here to <a href="/user/signup">Sign up</a> or click here to <a href="/user/login">Log in</a>
                    </p>
                </div>
            </div>
            <div class="img-box col">
                <img src="/img/administration/mailbox_pana.svg" alt="">
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(() => {
        $('#email').click(() => {
            $('#email').val('');
            $(".text-danger").html('');
        });

        $('#reset').click(() => {
            $('.text-danger').html('');
            $("#spinner").show();
            setTimeout(() => {
                $("#spinner").hide();
            }, 5000);
        });
    });

    $("body").on("submit", "form", function () {
        $(this).submit(function () {
            return false;
        });
        return true;
    });
</script>