.forum {
    padding: 10px;
}

.forum .forum-header{
    width: 800px;
}

.forum .clickable {
    display: block;
    text-decoration: none;
    color: #000000;
}

.forum .forum-title {
    font-size: 30px;
    padding-top: 15px;
}

.forum .buttons-c-f {
    font-size: 30px;
    padding-top: 10px;
}

.forum .button-wrapper{
    float: right;
}

.forum .warning{
    color: #ff2f00;
}

.forum .warning a{
    text-decoration: none;
}

.forum .subforum{
    margin-top:20px;
    background-color:#F2E8CF;
    width: 100%;
    border-radius: 20px;
}

.forum .subforum-row{
    display: inline;
    float: right;
}

.forum .subforum-username{
    padding-top: 10px;
    margin: 4px;
    border-radius: 5px;
}

.forum .subforum-column{
    border-radius: 5px;
    padding-left: 5px;
}

.forum .subforum-topic{
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 15px;
    overflow-wrap: break-word;
}

.forum .subforum-content{
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom:10px;
    overflow-wrap: break-word;
}

.forum .subforum-topic a{
    font-weight: bolder;
    text-decoration: none;
    color: #000000;
}


.forum .subforum-options{
    padding: 10px;
    float: right;
    font-size: 20px;
}

.forum .dropdown-toggle::after {
    content: none;
}

.forum .date-created {
    float: right;
    padding-top: 30px;
    padding-right: 15px;
    height: 30px;
}

.forum .admin-delete{
    float: right;
    padding-top: 15px;
}
