.content {
    display: flex;
    flex-direction: column;
}

.notification-header{
    padding-top: 15px;
    font-size: 30px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.no-notification-container{
    margin-top:20px;
    background-color: #a1a1a1;
    border-radius: 20px;
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}


.no-notification{
    padding-top: 15px;
}

.notification-block{
    padding-top: 15px;
    text-decoration: none;
    color: #ffffff;
}

.notification-block:hover{
    color: #ffffff;
}

.notification-container{
    margin-top:20px;
    background-color: #911919;
    border-radius: 20px;
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center;
}
