<div class="container">
    <div class="card card-body">
        <div class="container">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p>HOT</p>
                    </div>
                    <div class="col">
                        <p>Recent</p>
                    </div>
                    <div class="col">
                        <p>Top</p>
                    </div>
                    <div class="col">
                        <p>My Threads</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-center">
            <p>Create New Threads</p>
        </div>
        <div class="container">
            <div class="col">
                <p>Heading</p>
            </div>
            <div class="col">
                <p>Picture</p>
            </div>
            <div class="col">
                <p>Delete</p>
            </div>
        </div>
    </div>
</div>

<script>
    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4',
        value: moment().format('DD/MM/YYYY'),
    });
</script>