<div class="forum">
    <div class="entry-container d-flex align-items-center justify-content-center flex-wrap border">
        <div class="container">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p>HOT</p>
                    </div>
                    <div class="col">
                        <p>Recent</p>
                    </div>
                    <div class="col">
                        <p>Top</p>
                    </div>
                    <div class="col">
                        <p>My Threads</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <div class="#">
                <p>Create New Threads</p>
            </div>
        </div>
        <div class="container threads-overflow">
            <div class="threads">
                <div class="container border threads">
                    <div class="row">
                        <div class="col-4 text-break">
                            <p>Heading00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                            </p>
                        </div>
                        <div class="col">
                            <p>Picture</p>
                        </div>
                    </div>
                    <div class="delete-btn">
                        <p>Delete</p>
                    </div>
                </div>
            </div>
            <div class="threads">
                <div class="container border threads">
                    <div class="row">
                        <div class="col-4 text-break">
                            <p>Heading00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                            </p>
                        </div>
                        <div class="col">
                            <p>Picture</p>
                        </div>
                    </div>
                    <div class="delete-btn">
                        <p>Delete</p>
                    </div>
                </div>
            </div>
            <div class="threads">
                <div class="container border threads">
                    <div class="row">
                        <div class="col-4 text-break">
                            <p>Heading00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                            </p>
                        </div>
                        <div class="col">
                            <p>Picture</p>
                        </div>
                    </div>
                    <div class="delete-btn">
                        <p>Delete</p>
                    </div>
                </div>
            </div>
            <div class="threads">
                <div class="container border threads">
                    <div class="row">
                        <div class="col-4 text-break">
                            <p>Heading00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                            </p>
                        </div>
                        <div class="col">
                            <p>Picture</p>
                        </div>
                    </div>
                    <div class="delete-btn">
                        <p>Delete</p>
                    </div>
                </div>
            </div>
            <div class="threads">
                <div class="container border threads">
                    <div class="row">
                        <div class="col-4 text-break">
                            <p>Heading00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
                            </p>
                        </div>
                        <div class="col">
                            <p>Picture</p>
                        </div>
                    </div>
                    <div class="delete-btn">
                        <p>Delete</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>