.dataTables_filter,
.dataTables_paginate {
    float: right;
}

#userAccounts {
    width: 100%;
}

td:first-child {
    max-width: 200px;
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}