div .card-body{
    height: 400px;
}

.quiz{
    text-decoration: none;
    color: black;
    margin-left: 17px;
}

.expandMore{
    text-decoration: none;
    color: black;
}

.expandMore:hover{
    text-decoration: none;
    color: white;
}

video {
    height: 299px;
}
